.row {
    display: flex;
    flex-direction: column;

    &--b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        &--b-margin-until-medium {
            margin-bottom: 0;
        }
    }
    &__4 {
        @mixin atMedium {
            flex: 1;
            padding-left: 2rem;
        }
    }

    &__8 {
        @mixin atMedium {
            flex: 2;
            padding-left: 2.5rem;
        }
    }

}